
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

.custom-image-size{
    height: 300px;
    width: 300px;
	border: 6px black solid;
}

a {
  color: #2dc997;
}

a:hover, a:active, a:focus {
  color: #2dca98;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: black;
  color: white;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: red;
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/rome.jpg) top center;
  background-size: cover;
  position: relative;
  border-bottom: black 6px solid;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: red;
  border: 2px solid white;
}

/* About Us Section
--------------------------------*/
#about {
  background: #fff;
  padding: 80px 0;
}

#about .about-container .background {
  min-height: 300px;
  //background: url(../img/profielfoto.jpg) center top no-repeat;
  margin-bottom: 10px;
}

#about .about-container .content {
  background: #fff;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #about .about-container .title {
    padding-top: 15px;
  }
}

#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid black;
}

#about .about-container .icon-box .icon i {
  color: black;
  font-size: 24px;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

#about .about-container .icon-box .title a {
  color: #111;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/* eigenschappen Section
--------------------------------*/
#mijn-eigenschappen {
  background: #fff;
  background-size: cover;
  padding: 80px 0 60px 0;
  text-align: center;
}

#mijn-eigenschappen .box {
  padding: 50px 20px;
  margin-bottom: 50px;
  text-align: left;
  border: 6px solid black;
  height: 300px;
  position: relative;
  background: #fafafa;
}

#mijn-eigenschappen .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: white;
}

#mijn-eigenschappen .icon a {
  display: inline-block;
}

#mijn-eigenschappen .icon i {
  color: black;
  font-size: 24px;
}

#mijn-eigenschappen .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#mijn-eigenschappen .title a {
  color: #111;
}

#mijn-eigenschappen .description {
  font-size: 14px;
  line-height: 24px;
}

/* quotes
--------------------------------*/
#quotes {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/roman_road.jpg) fixed center center;
  background-size: cover;
  padding: 280px 0;
  border-bottom: black solid 5px;
  border-top: black solid 5px;
}

#quotes .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#quotes .cta-text {
  color: #fff;
}

@media (min-width: 769px) {
  #quotes .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#quotes .cta-btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#quotes .cta-btn:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}

/**/

#Algemene-vaardigheden {
  background: #fff;
  padding: 80px 0;
}

#Algemene-vaardigheden .about-container .background {
  min-height: 300px;
  //background: url(../img/profielfoto.jpg) center top no-repeat;
  margin-bottom: 10px;
  border-radius: 25px;
}

#Algemene-vaardigheden .about-container .content {
  background: #fff;
}

#Algemene-vaardigheden .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #Algemene-vaardigheden .about-container .title {
    padding-top: 15px;
  }
}

#Algemene-vaardigheden .about-container p {
  line-height: 26px;
}

#Algemene-vaardigheden .about-container p:last-child {
  margin-bottom: 0;
}

#Algemene-vaardigheden .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#Algemene-vaardigheden .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #2dc997;
}

#Algemene-vaardigheden .about-container .icon-box .icon i {
  color: #2dc997;
  font-size: 24px;
}

#Algemene-vaardigheden .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

#Algemene-vaardigheden .about-container .icon-box .title a {
  color: #111;
}

#Algemene-vaardigheden .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/**/

#Taal-vaardigheden {
  background: #fff;
  padding: 80px 0;
}

#Taal-vaardigheden .about-container .background {
  min-height: 300px;
 // background: url(../img/debating.jpg) center top no-repeat;
  margin-bottom: 10px;
    background-size: contain;
	
}

#Taal-vaardigheden .about-container .content {
  background: #fff;
}

#Taal-vaardigheden .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #Taal-vaardigheden .about-container .title {
    padding-top: 15px;
  }
}

#Taal-vaardigheden .about-container p {
  line-height: 26px;
}

#Taal-vaardigheden .about-container p:last-child {
  margin-bottom: 0;
}

#Taal-vaardigheden .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#Taal-vaardigheden .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #2dc997;
}

#Taal-vaardigheden .about-container .icon-box .icon i {
  color: #2dc997;
  font-size: 24px;
}

#Taal-vaardigheden .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

#Taal-vaardigheden .about-container .icon-box .title a {
  color: #111;
}

#Taal-vaardigheden .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/**/

#Management-vaardigheden {
  background: #fff;
  padding: 80px 0;
}

#Management-vaardigheden .about-container .background {
  min-height: 300px;
 // background: url(../img/presenteren.jpeg) center top no-repeat;
  margin-bottom: 10px;
    background-size: contain;
}

#Management-vaardigheden .about-container .content {
  background: #fff;
}

#Management-vaardigheden .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #Management-vaardigheden .about-container .title {
    padding-top: 15px;
  }
}

#Management-vaardigheden .about-container p {
  line-height: 26px;
}

#Management-vaardigheden .about-container p:last-child {
  margin-bottom: 0;
}

#Management-vaardigheden .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#Management-vaardigheden .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #2dc997;
}

#Management-vaardigheden .about-container .icon-box .icon i {
  color: #2dc997;
  font-size: 24px;
}

#Management-vaardigheden .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

#Management-vaardigheden .about-container .icon-box .title a {
  color: #111;
}

#Management-vaardigheden .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/**/
#computer-vaardigheden {
  background: #fff;
  padding: 80px 0;
}

#computer-vaardigheden .about-container .background {
  min-height: 300px;
 // background: url(../img/juniorwebdeveloper.jpeg) center top no-repeat;
  margin-bottom: 10px;
    background-size: contain;
}

#computer-vaardigheden .about-container .content {
  background: #fff;
}

#computer-vaardigheden .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #computer-vaardigheden .about-container .title {
    padding-top: 15px;
  }
}

#computer-vaardigheden .about-container p {
  line-height: 26px;
}

#computer-vaardigheden .about-container p:last-child {
  margin-bottom: 0;
}

#computer-vaardigheden .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#computer-vaardigheden .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #2dc997;
}

#computer-vaardigheden .about-container .icon-box .icon i {
  color: #2dc997;
  font-size: 24px;
}

#computer-vaardigheden .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

#computer-vaardigheden .about-container .icon-box .title a {
  color: #111;
}

#computer-vaardigheden .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/**/
#Junior-webdeveloper {
  background: #fff;
  padding: 80px 0;
}

#Junior-webdeveloper .about-container .background {
  min-height: 300px;
 // background: url(../img/codegorillalogo.png) center top no-repeat;
  margin-bottom: 10px;
    background-size: contain;
}

#Junior-webdeveloper .about-container .content {
  background: #fff;
}

#Junior-webdeveloper .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #Junior-webdeveloper .about-container .title {
    padding-top: 15px;
  }
}

#Junior-webdeveloper .about-container p {
  line-height: 26px;
}

#Junior-webdeveloper .about-container p:last-child {
  margin-bottom: 0;
}

#Junior-webdeveloper .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#Junior-webdeveloper .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #2dc997;
}

#Junior-webdeveloper .about-container .icon-box .icon i {
  color: #2dc997;
  font-size: 24px;
}

#Junior-webdeveloper .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

#Junior-webdeveloper .about-container .icon-box .title a {
  color: #111;
}

#Junior-webdeveloper .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/**/
#onderzoeker {
  background: #fff;
  padding: 80px 0;
}

#onderzoeker .about-container .background {
  min-height: 300px;
//  background: url(../img/saxionlogo.jpg) center top no-repeat;
  margin-bottom: 10px;
    background-size: contain;
}

#onderzoeker .about-container .content {
  background: #fff;
}

#onderzoeker .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #onderzoeker .about-container .title {
    padding-top: 15px;
  }
}

#onderzoeker .about-container p {
  line-height: 26px;
}

#onderzoeker .about-container p:last-child {
  margin-bottom: 0;
}

#onderzoeker .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#onderzoeker .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #2dc997;
}

#onderzoeker .about-container .icon-box .icon i {
  color: #2dc997;
  font-size: 24px;
}

#onderzoeker .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

#onderzoeker .about-container .icon-box .title a {
  color: #111;
}

#onderzoeker .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/**/
#Vrijwilliger {
  background: #fff;
  padding: 80px 0;
}

#Vrijwilliger .about-container .background {
  min-height: 300px;
//  background: url(../img/sdvvlogo.jpg) center top no-repeat;
  margin-bottom: 10px;
    background-size: contain;
}

#Vrijwilliger .about-container .content {
  background: #fff;
}

#Vrijwilliger .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #Vrijwilliger .about-container .title {
    padding-top: 15px;
  }
}

#Vrijwilliger .about-container p {
  line-height: 26px;
}

#Vrijwilliger .about-container p:last-child {
  margin-bottom: 0;
}

#Vrijwilliger .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#Vrijwilliger .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #2dc997;
}

#Vrijwilliger .about-container .icon-box .icon i {
  color: #2dc997;
  font-size: 24px;
}

#Vrijwilliger .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

#Vrijwilliger .about-container .icon-box .title a {
  color: #111;
}

#Vrijwilliger .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/* Portfolio Section
--------------------------------*/
#portfolio {
  background: #f7f7f7;
  padding: 80px 0;
}

#portfolio #portfolio-wrapper {
  padding-right: 15px;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 0 0 45px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
  padding: 10px 22px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
  background: #2dc997;
  color: #fff;
}

#portfolio .portfolio-item {
  position: relative;
  height: 200px;
  overflow: hidden !important;
  margin-bottom: 15px;
  transition: all 350ms ease;
  transform: scale(1);
}

#portfolio .portfolio-item a {
  display: block;
  margin-right: 15px;
}

#portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#portfolio .portfolio-item .details {
  height: 50px;
  background: black;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#portfolio .portfolio-item .details h4 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 8px 0 2px 8px;
  margin: 0;
}

#portfolio .portfolio-item .details span {
  display: block;
  color: #fff;
  font-size: 13px;
  padding-left: 8px;
}

#portfolio .portfolio-item:hover .details {
  bottom: 0;
}

#portfolio .portfolio-item:hover img {
  top: -30px;
}

/* Contact Section
--------------------------------*/
#contact {
  background: #f7f7f7;
  padding: 80px 0 40px 0;
}


#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: black;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}

#contact .info .email p {
  padding-top: 5px;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: black;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#contact .social-links a:hover {
  background: red;
  color: #fff;
}


